*{
     padding: 0%;
    margin: 0%; 
    box-sizing: border-box;
}

label #btn{
    color: black;
    display: none;}

label #cancel{
    color: red;
    display: none;
    
}
#check{
    display: none;
}

#nav{
    width: 100%;
    color: white;
   position: fixed;
    height: 20px;
    background-color: rgb(2, 2, 50);
    display: flex;
     justify-content: center;  
     align-items: center;
      padding: 10px; 
}


#nav nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
#nav nav ul a{
    text-decoration: none;
    color: white;
}
* a{
    text-decoration: none;
    color: white;
}

* a:hover{
    color: red;  
}
#nav nav ul a:hover{
    color: red; 
}
#Home{
    background-image: url(https://i.pinimg.com/736x/dd/1c/e1/dd1ce1196b10de804bf610f18f0ccf9d.jpg);
    width: 100%;
    height: 100vh; 
    border: 3px ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
    #Home .content1{
      color:white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
} 

#Home  .content2{
    color:orangered;
    text-align: center;
    font-size: 50px;  
} 
#Home  button {
    background-color: #f28123;
   color: #f28123;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
   border-radius: 20px;
   width: 250px;
} 
#Home2 .div2{
    padding-top: 40px;
    padding-bottom: 50px;
   background:lightgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#Home3 .orange-text{
color:#f28123;
}

#Home3 h1{
    display: flex;
    justify-content: center;
    padding-left: 30px;
}
#Home3{
    display: flex;
justify-content: center;
align-items: center;
padding-left: 40px;
font-size: 15px;
}

#Home4 .Fruits{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding-left: 95px;
}
#Home4 button{ 
    background-color: #f28123;
    color: white;
     text-align: center;
     padding-left: 35px;
     padding-right: 35px;
     padding-top: 9px;
     padding-bottom: 9px;
    border-radius: 20px;
    font-size: 15px;
}

#Home5{
    display: flex;
    padding-top: 70px;
  padding-left: 250px;
  background-color: #f5f5ff;
  gap: 200px;
}
#Home5 .orange-text2{
    color:#f28123;
    font-size: 40px;
    }
#Home5 .img{
    height: 200px;
    width: 100px;
}
#Home5 .content3{
    display: flex;
    width: 750px;
    font-size: 20px;
    flex-direction: column;
}
#Home5 .hour{
    padding-top: 25px;
   padding-left: 30px;
border: darkorange solid 3px;
width:80px;
height: 80px;
}
#Home5 .min{
   padding-top: 25px;
   padding-left: 30px;
    border: darkorange solid 3px;
    width:80px;
    height: 80px;
    }
    #Home5 .sec{
        padding-top: 25px;
   padding-left: 30px;
        border:darkorange solid 3px;
        width:80px;
        height: 80px;
        }
          #Home5 .time{
            display: flex;
            flex-direction: row;
            gap: 2px;
          }
#Home5 button{
    background-color: #f28123;
    color: white;
     text-align: center;
     padding-left: 15px;
     padding-right: 15px;
     padding-top: 5px;
     padding-bottom: 5px;
    border-radius: 20px;
}
#Home7{
    padding-top: 100px;
        display: flex;
        flex-direction: row;
       gap: 300px;
}
#Home7 .content{
    padding-right: 20px;
padding-top: 100px; 
height: 500px;
width: 500px;
}
#Home7 .video{
   padding-left: 250px;
    }
    #Home7 .orange-text{
        color:#f28123;
        }
        #Home7 .content h1{
            font-size: 40px;
        }
        #Home7 .content h3{
            font-size: 30px;
        }
#Home7 .content p{
    font-size: 20px;
}

#Home8 {
    height: 500px;
    width: 100%;
    background-color: #f5f5ff;
/* padding-left: 250px; */
}
#Home8 .Discount{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20%;
}
#Home8 .Discount .orange-text{
    color: #f28123;
}
#Home8 .Discount .content{
    height: 200px;
    width: 400px;
    font-size: 30px;
}

#Home8 .bt{

    color: white;
     padding-left: 15%;
     /* padding-left: 35px; */
     /* padding-right: 35px;
     padding-top: 9px;
     padding-bottom: 9px; */
    border-radius: 20px;
    font-size: 15px;
}

#Home9{
    height: 300px;
    width: 100%;
display: flex;
align-items: center; 
padding-left: 50px;
}

#Home9 .content{
    padding-left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

#Home9 .content1{
    padding-left: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#Home9 .orange-text{
    color: #f28123;
}

#Home10 .direction{
    padding-left: 110px;
    display: flex;
    justify-content: center;
   gap: 20px;
}

#Home10 .grapes{
    height: 450px;
    width: 450px;
 }
 #Home10 .black{
     font-size: 20px;
     color: black;
    font-weight: 150;
 }
 #Home10 .grey{
    color: rgb(42, 38, 38);
 }

 #Home10 .man{
    height: 450px;
    width: 500px;
 }
 #Home10 .black1{
     font-size: 20px;
     color: black;
    font-weight: 150;
 }
 #Home10 .grey1{
    color: rgb(42, 38, 38);
 }

 #Home10 .fruit{
    height: 450px;
    width: 500px;
 }
 #Home10 .black2{
     font-size: 20px;
     color: black;
    font-weight: 150;
 }
 #Home10 .grey2{
    color: rgb(42, 38, 38);
 }

 #Home11{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
 }
 #Home11 button{
    background-color: #f28123;
    color: white;
     text-align: center;
     padding-left: 35px;
     padding-right: 35px;
     padding-top: 9px;
     padding-bottom: 9px;
    border-radius: 20px;
    font-size: 15px;
}

#Home12{
    background-color: #f5f5ff;
    width: 100%;
}
#Home12 div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#foot{
  display: flex;
    background-color: rgb(2, 2, 50);
    padding: 90px 60px;
    text-align: center;
    flex-direction: column;
  }
  #foot .footer-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #foot .footer-section{
    max-width: 400px;
    margin: 10px;
  }
  #foot .footer-section .pp{
    font-size: 50px;
    margin-bottom: 60px;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
  }
  #foot .footer-section .ppp{
    font-size: 20px;
    margin-bottom: 15px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    flex-direction: column;
  }

  #foot .footersection2 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: orange;
    font-weight: 80px;
    padding-bottom: 50px;
  }

  #foot .footersection2 ul {
    list-style: none;
  }
  #foot .footersection2 ul li{
     margin: 15px 0;
     text-align: left;
  }
  
  #foot .footersection2 ul li a {
    font-size: 30px;
    margin-bottom: 15px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    flex-direction: column;
  }

  #foot .footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: orange;
    font-weight: 80px;
    padding-bottom: 50px;
  }

  #foot .footer ul li{
    margin: 15px 0;
    text-align: left;
  }
  #foot .footer ul li a{
    font-size: 30px;
    margin-bottom: 15px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    flex-direction: column;
  }
  #foot .footsection p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 20px 0;
  }
  #foot .social-icons a{
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s;
    font-size: 25px;
    color: gray;
  }
  #foot .social-icons a:hover{
    transform: scale(1.1);
  }
#foot .ff{
   font-size: 25px;
    color: white; 
}
#foot .fff{
    padding-top: 55px ;
    display: flex;
    flex-direction: column;
}
/* ABOUT PAGE */

#About  .orange-text{   
    color:red;
    display: flex;
    justify-content: center;
    align-items: center;
}
#About{
    background-image: url(https://t3.ftcdn.net/jpg/08/96/67/10/360_F_896671047_Dfrkzf0hKs7CQVcXMVo0oxgkVfJYyhv1.jpg);
    width: 100%;
    height: 750px; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#About .content1  h1 .orange-text{
    color: rgb(43, 195, 12);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
} 
#About .content2{
    color: white;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
#About  button {
    background-color: #f28123;
   color: #f28123;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
   border-radius: 20px;
} 
#About .content .homed{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    flex-direction: row;
    border: #f28123 solid 5px;
    height: 300px;
    width: 500px;
}
#About .content .best{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    flex-direction: row;
}
#About .content .custom{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    flex-direction: row;
}
#About .content .quick{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    flex-direction: row;
}
#About2 .container{
    display: flex;
    width: 100%;
}
#About2  .center{
   font-size: 45px;
   padding-left: 45px;}
#About2 .container {background-color: #fff;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#About2.content {
    flex: 1;
}

#About2 .content h1 {
    font-size: 2.5rem;}

#About2 .highlight {
    color: #f78b1f;
}
#About2 .highlight1 {
    color: orangered;
}

#About2 .features {
    padding-left: 45px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#About2 .feature {
    gap: 15px;
    width: calc(50% - 10px);
}

#About2 .feature img {
    width: 40px;
    height: 40px;
}

#About2 .feature h3 {
    font-size: 1.1rem;
}

#About2 .feature p {
    font-size: 0.9rem;
    color: #666;
}

#About2 .image-section {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-products {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 100px;
  }
  
  .featured-products h1 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 50px;
    padding-right: 1200px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .product {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 500px;
    text-align: center;
    padding: 20px;
  }
  
  .product-image {
    position: relative;
  }
  
  .product h1 {
    font-size: 30px;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .product h2 {
    font-size: 30px;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .product p {
    font-size: 25px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .price {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }
 #About6{
    background-image: url(https://t3.ftcdn.net/jpg/08/96/67/10/360_F_896671047_Dfrkzf0hKs7CQVcXMVo0oxgkVfJYyhv1.jpg);
    width: 100%;
    height: 600px; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#About6 .orange-text{
    color: rgb(240, 49, 49);
    font-size: 35px;
}
#About6 .content2{
    color: rgb(240, 49, 49);
    font-size: 35px;
}
 .d{
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
 }
th {
   
    border: 1px solid #ddd;
    text-align: center;
    height: 30px;
    width: 150px;
}
td{
    border: 1px solid #ddd;
    text-align: center;
    height: 30px;
    width: 150px;
}
th {
    background-color: #f4f4f4;
}


#About4 .coupon p{
    font-size: 25px;
}
#About4 .input{
    size: 20px;
}

button {
    display: flex;
    flex-direction: row;
   justify-content: right;
    background-color: orangered;
    color: white;
   height: 40px;
   width: 200px;
    display: inline-block;
    border-radius: 20px;
    font-size: 20px;
}

button:hover {
    background-color: #45a049;
}

#signin{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  #signin .signin-container{
    width: 600px;
  }
  
  #signin .signin-container .pp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 50px;
    color:orangered;
  }
  #signin .signin-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 10px;
  }
  #signin .input-field{
    width: 100%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 25px;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
  }
  #signin .input-field:focus{
    border-color:black;
  }
  
  #signin .signin-button{
    display: flex;
    flex-direction: row;
   justify-content: right;
    background-color:orangered;
    color: white;
   height: 50px;
   width: 200px;
    display: inline-block;
    font-size: 25px;
    border-radius: 20px;
  }
  #signin .signin-button:hover{
    background-color:grey;
  }
  
  #signin .create-account-text{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin-top: 30px;
    font-weight: bold;
  }
  #signin .create-account-text a{
    color:white;
    font-size: 20px;
    font-weight: bold;
  }
  
  #signin .create-account-text a:hover{
    text-decoration: underline;
  }

  #signup .signup-container{
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }
  #signup .signup-container .pppp{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
  }
  
  #signup .signup-container .aa{
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
    padding: 12px;
    border: 1px solid;
    border-radius: 30px;
    text-decoration: none;
    color:white;
    margin-top: 20px; 
  }
  
  #signup .signup-container .aa:hover{
    color: white;
    background-color: orangered;
  }
  
  #signup .signup-container .aa i{
    margin: 15px;
  }
  
  #signup .signup-container .pp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 20px;
    color:#666;
  }
  
  #signup .signup-container form input{
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 30%;
  }
  
  #signup .signup-container .star{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:#666;
  }
  
  #signup .signup-container .create-btn{
    display: flex;
    flex-direction: row;
   justify-content: right;
    background-color: black;
    color: white;
   height: 50px;
   width: 300px;
    display: inline-block;
    font-size: 25px;
    border-radius: 20px;
  }
  
  #signup .signup-container .create-btn:hover{
    background-color: gray;
  }
  #signup .signup-container .aaa{
    display: block;
    margin-top: 20px;
    color:black;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  #signup .signup-container .aaa:hover{
    color: orangered;
  }
  #signin{
  background-image: url(https://t3.ftcdn.net/jpg/08/96/67/10/360_F_896671047_Dfrkzf0hKs7CQVcXMVo0oxgkVfJYyhv1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
#signup{
    background-image: url(https://t3.ftcdn.net/jpg/08/96/67/10/360_F_896671047_Dfrkzf0hKs7CQVcXMVo0oxgkVfJYyhv1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  }


#main{
    background-image: url(https://t3.ftcdn.net/jpg/08/96/67/10/360_F_896671047_Dfrkzf0hKs7CQVcXMVo0oxgkVfJYyhv1.jpg);
    width: 100%;
    height: 750px; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: row;
}
#main .c1{
  color: black;
  font-size: 20px;
  
}
#main .orange-text{ 
    color:red;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#main2 .content2{
  padding-top: 10%;
 display: flex;
 flex-direction: column;
}
#main2 .c2 {
display: flex;
justify-content: center;
text-align: center;
width: 100%;
font-size: 25px;
}
#main2 .c3 {
  padding-left: 20%;
display: flex;
justify-content: center;
width: 80%;
font-size: 20px;
}

.n{
  padding-left: 10%;
  font-size: 30px;
}

.c4{
  padding-left: 10%;
  width: 70%;
}
.c4 .input-field1{
  width: 40%;
  height: 50px;
}

.c4 .input-field2{
  width: 40%;
  height: 50px;
}
.c4 .input-field3{
  width: 40%;
  height: 50px;
}
.c4 .input-field4{
  width: 40%;
  height: 50px;
}
.c4 .input-field5{
  width: 70%;
  height: 100px;  
}

.content3 .p1 img{
    width: 50px;
    height: 50px;
}
.content3 .p3 img{ 
  width: 50px;
  height: 50px;
}
.content3 .p2 img{ 
  width: 50px;
  height: 50px;
}
.content3 .c5{
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  gap: 10%;
}
.c5 .p1{
  width: 20%;
}

.c5 .p2{
  width: 20%;
}

.c5 .p3{
  width: 20%;
}

     /* MEDIA QUERY */
  @media (max-width: 470px) { 
    #nav{
    background-color: white;
    position: absolute;
    width: 99%;
    padding: 0px;
    margin: 0px;
    }
    
#nav nav ul{
    position: absolute;
    list-style: none;
    /* gap: 1%; */
    display: flex;
    gap: 2%;
    margin-right: 0px;
    color:rgb(2, 2, 50);
    background-color: white;
}
#Home  button {
    background-color: #f28123;
   color: #f28123;
    text-align: center;
    padding: 0px;
   width: 250px;
} 
label #btn{
    display: block;
}
 ul{
    position: absolute;
    font-size: 17px;
    height: 50px;
    text-align: center;
    margin-right: 0px; 
    line-height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    left:-150%;
    font-size: 25px;
}
#nav nav ul a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(2, 2, 50);}
nav ul li{
    display: block;
  
}
*a:hover{
    color: orangered;
}
#check:checked ~  ul{
            left:0; }
 #check:checked ~  label #btn{
            display: block;
        }
        #check :checked ~  label #cancel{
            display:block;
        }
#Home{
    border:none
}
#Home .content1{
    width: 100%;
}
#Home .content2{
    width: 100%;
}

#Home .content2 button{
    width: 98%;
}
#Home2 .div2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding-left: -40px;
}
#Home3 h1 {
    width: 100%;
    padding-left: 0px;
}
#Home3 p{
    width: 100%;
    padding-left: 0px;   
}
#Home10 .man {
    height: 450px;
    width: 100%;
}

#Home3 h1 {
    padding-left: 0px;
}
#Home3 {
    padding-left: 0px;
}
#Home3 p{
    padding: 0px;
}
#Home4 .Fruits{
    display: flex;
   padding-left: 0px;
    flex-direction: column;
}

#Home5{
    display: flex;
    padding-top: 0px;
  padding-left: 0px;
  background-color: #f5f5ff;
  flex-direction: column;
  /* padding-left: 10%; */
  gap: 20%;
  width: 100%;
}

#Home5 .content3{
    width: 98%;
    display: flex;
    padding-left: 10%;
}

#Home7{
    padding-top: 0px;
        display: flex;
        flex-direction: column;
       gap: 10%;
       width: 100%;
}
#Home7 .content h1{
 justify-content: center;
}
#Home7 .content{
    width: 99%;
    padding-left: 10%;
    padding-top: 0px;
    padding-right: 0%;
}
#Home7 .video{
    padding-left: 5%;

    /* width: 100%; */
     }
    #Home8 {
    /* padding-left: 10%; */
    padding-top: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
width: 100%;
padding: 0%;
height: 450px;
    }
    #Home8 .Discount{
        display: flex;
        flex-direction: column;
    width: 100%;
        gap: 0px;
        justify-content: center;
    }
    #Home8 .Discount .content{
width: 100%;
justify-content: center;
font-size: 20px;  
    }

#Home8 h1{
    width: 100%;
    justify-content: center;
}

#Home8 .img{
display: none;
}

#Home8 .bt{
 padding-left: 10%;
}
#Home8 button{   
padding-left:0px;
padding-right: 0px;  
padding-top: 0px;
padding-bottom: 0px;
justify-content: center;
}
#Home9{
  padding-left: 0%;
/* padding-left: 5%; */
width: 100%;
justify-content: center;
height: 20%;
}
#Home9 .content{
    padding-left: 0px;
}
#Home9 .content1{
    padding-left: 2%;
}
#Home10{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
#Home10 .direction{
   padding-left: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* gap: 10%; */
   width: 100%;
}
#Home10 .grapes{
    width: 100%;
       height: 20%;
}
#Home10 .man {
    width: 98%;
       height: 20%
 }

#Home10 .fruit {
    width: 100%;
      justify-content: center;
         height:20%;
 }
 #Home11{
    width: 100%;
  
 }
 #Home12{
    width: 100%;
 }
#Home12 div {
    display: flex;
    flex-direction:column ;
}
#foot{
  padding: 0px 0px;
  width: 100%;
}

  #foot .footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 5%;
   width: 100%;
   text-align: center;
    /* size:200px; */
  }
#foot .footer-section{
    margin: 0px;
    max-width: 100%;
  }

  #foot .footer-section .pp{
    padding-top: 10%;
    font-size: 80%;
    margin-bottom: 0px;
  }
  
  #foot .footer-section .ppp{
    font-size: 70%;
    margin-bottom: 15px;
    flex-direction: column;
  }
#foot .footersection2 p{
    display: none;
  }

  #foot .footer p{
   display: none;   
  }

  #foot .footsection p{
    font-size: 90%;
    margin: 0px ;
width: 100%;
    text-align: center;
  }
 
#foot .ff{
   font-size: 70%;
    color: white;
}
#foot .fff{
    padding-top: 0px ;
    display: flex;
    flex-direction: column;
}
#About{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px; 
}
#About2{
    display: flex;
    width: 100%; 
}
#About2 .features {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    width:98%;
}

#About2 .features p{
  width: 190%;
}
#About2 .image-section {
    display: none;
}

 h1{
  text-align: center;
}
.product2 h2{
  text-align: center;
}
.price{
  text-align: center;
   font-size: 35px;
}

.products {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-image img{
  width: 100%;
}
.product3 h2{
text-align: center;
}
.product3 p{
  text-align: center;
  font-size: 30px;
}

#About6{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}
#About4{
  width: 98%;
}
#About4 .d {
    width: 97%;
}
#h1{
  display: none;
}
 .product-total{
  display: none;
 }
#About4 .d1 tr td img {
   height: 50%;
   width: 50%;
}

 #signup{
    background-image: url(https://t3.ftcdn.net/jpg/08/96/67/10/360_F_896671047_Dfrkzf0hKs7CQVcXMVo0oxgkVfJYyhv1.jpg);
    width: 100%;
    height: 100%;
 }

 #main{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px; 
}


#m .mm{
  width: 100%;
  height: 200px;
}
.c5 .p1{
  display: flex;
  flex-direction: column;
}
.c5 .p2{
  display: flex;
  flex-direction: column;
}
.c5 .p3{
  display: flex;
  flex-direction: column; 
}


  }